# Django & base
Django>=4.2
djangorestframework
gunicorn

# Authentification / Sécurité
bcrypt
PyJWT

# Tâches asynchrones
celery
django_celery_results
redis

# Utilitaires
requests
PyYAML
attrs
Jinja2
MarkupSafe
jsonschema
pytz
setuptools
wheel
